<p-card header="Team Directory" styleClass="p-0-card-content">
    <div class="grid -mb-2 mt-3 align-items-center justify-content-center">
        <div *ngFor="let item of teamDirectory; let index = index" class="col-6 text-center">
            <div class="flex flex-column p-4 surface-ground border-round-xl">
                <p-avatar
                    [image]="'/assets/images/profile-pics/' + (index + 1) + '.jpg'"
                    shape="circle"
                    size="xlarge"
                    styleClass="mb-2" />
                <div class="font-semibold">{{ item.name }}</div>
                <div class="text-sm text-500 mt-1">{{ item.role }}</div>
            </div>
        </div>
    </div>
</p-card>
