.p-component {
    font-size: var(--font-size);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
}


.p-card {
    box-shadow: none;
    border-radius: var(--border-radius);
    .p-card-body {
        padding: 30px;
    }
    &.p-0-body .p-card-body{
        padding: 0;
    }
}
