.p-component {
    font-size: var(--font-size);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
}


.p-card {
    box-shadow: none;
    border-radius: var(--border-radius);
}
