<div class="grid align-items-center">
    <div class="lg:col-4 md:col-12 sm:col-12">
        <h1 class="m-0 text-5xl">Welcome, juliana!</h1>
        <p class="text-xl mt-1 mb-3">Here is your agenda for today</p>
    </div>
    <div class="lg:col-8 md:col-12 sm:col-12">
        <div class="grid">
            <div class="col">
                <span class="p-input-icon-right w-full">
                    <i class="pi pi-search mr-3"></i>
                    <input
                        class="w-full border-round-3xl border-1 border-100 bg-transparent py-3 px-4 search-input"
                        pInputText
                        placeholder="Search" />
                </span>
            </div>
            <div class="col-fixed">
                <div class="card ml-4">
                    <p-avatar
                        [style]="{ height: '50px', width: '50px' }"
                        image="/assets/images/profile-pics/4.jpg"
                        shape="circle"
                        size="xlarge"
                        styleClass="mr-2" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="lg:col-4 md:col-6 sm:col-12">
        <p-calendar [inline]="true" [showOtherMonths]="false" [showWeek]="false" class="w-full"></p-calendar>
    </div>
    <div class="lg:col-8 md:col-12">
        <p-card header="Urgent Task">
            <div
                *ngFor="let item of urgentTask; let last = last"
                [class.-mb-3]="last"
                [class.mb-4]="!last"
                class="grid align-items-center">
                <div class="col">
                    <p-radioButton
                        [(ngModel)]="item.completed"
                        [inputId]="item.id.toString()"
                        [name]="item.id.toString()" />
                    <label [for]="item.id.toString()" class="ml-3">{{ item.name }}</label>
                </div>
                <div class="col-fixed text-pink-500 font-bold">
                    <div [style.height.px]="20" class="flex align-items-center">
                        <i [style.font-size.px]="6" class="pi pi-circle-fill mr-2"></i> Today
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>

<div class="grid mt-1">
    <div class="lg:col-4 md:col-6 sm:col-12">
        <p-card header="Project directory">
            <div *ngFor="let item of projectDirectory; let index = index" class="grid mb-2">
                <div class="col">
                    <p-avatar
                        [label]="item.name.charAt(0)"
                        [style]="{ backgroundColor: (index | getColor) }"
                        shape="circle"
                        styleClass="mr-2" />
                    {{ item.name }}
                </div>
                <div class="col-fixed">
                    <p-avatar
                        *ngFor="let user of item.user"
                        [image]="user.profilePicUrl"
                        class="-ml-2"
                        shape="circle" />
                </div>
            </div>
            <div class="grid -mb-3">
                <div class="col-12">
                    <p-button [icon]="'pi pi-plus'" label="Add More"></p-button>
                </div>
            </div>
        </p-card>
    </div>
    <div class="lg:col-4 md:col-6 sm:col-12">
        <p-card header="New Comments">
            <ul class="list-none p-0 m-0">
                <li
                    *ngFor="let item of newComments; let index = index; let last = last"
                    [class.-mb-3]="last"
                    class="mb-3 flex align-items-center border-round p-3 bg-purple-50">
                    <p-avatar
                        [image]="'/assets/images/profile-pics/' + (index + 1) + '.jpg'"
                        class="flex-auto"
                        shape="circle"
                        size="large" />
                    <div class="ml-3">
                        <span class="block text-sm">{{ item.user }} in {{ item.project }}</span>
                        <span class="block font-semibold">{{ item.message }}</span>
                    </div>
                </li>
            </ul>
        </p-card>
        <p-card styleClass="mt-4">
            <div class="grid">
                <div class="col-4">
                    <div class="bg-purple-100 border-round flex flex-column justify-content-between">
                        <div class="text-purple-900">#Research</div>
                        <div class="grid flex-nowrap align-items-center">
                            <div class="col">
                                <span class="text-black-alpha-50">Survey Design</span>
                            </div>
                            <div class="col">
                                <i class="pi pi-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="bg-green-100 border-round flex flex-column justify-content-between">
                        <div class="text-green-900">#Strategy</div>
                        <div class="grid flex-nowrap align-items-center">
                            <div class="col">
                                <span class="text-black-alpha-50">Survey Design</span>
                            </div>
                            <div class="col">
                                <i class="pi pi-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="bg-yellow-100 border-round flex flex-column justify-content-between">
                        <div class="text-yellow-900">#Operations</div>
                        <div class="grid flex-nowrap align-items-center">
                            <div class="col">
                                <span class="text-black-alpha-50">Survey Design</span>
                            </div>
                            <div class="col">
                                <i class="pi pi-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
    <div class="lg:col-4 md:col-6 sm:col-12">
        <p-card header="Team Directory">
            <div class="grid align-items-center justify-content-center">
                <div *ngFor="let item of teamDirectory" class="col-6 text-center">
                    <div class="bg-black-alpha-10 p-3 border-round">
                        <p-avatar
                            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            shape="circle"
                            size="xlarge"
                            styleClass="mb-2" />
                        <div class="block mb-2 font-semibold">{{ item.name }}</div>
                        <div class="block text-black-alpha-30 text-sm">{{ item.role }}</div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>
