:host ::ng-deep {
    .p-timeline-event-separator > span {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
}
