<div class="grid">
    <div class="lg:col-6">
        <p-card header="Vertical">
            <div class="field">
                <label>Firstname</label>
                <input class="w-full" pInputText type="text" />
            </div>
            <div class="field">
                <label>Lastname</label>
                <input class="w-full" pInputText type="text" />
            </div>
        </p-card>

        <p-card header="Vertical and Grid">
            <div class="formgrid grid">
                <div class="field col">
                    <label>Firstname</label>
                    <input class="w-full" pInputText type="text" />
                </div>
                <div class="field col">
                    <label>Lastname</label>
                    <input class="w-full" pInputText type="text" />
                </div>
            </div>
        </p-card>
        <p-card header="Horizontal and Fixed Width">
            <div class="field grid">
                <label class="col-fixed" style="width: 100px">Firstname</label>
                <div class="col">
                    <input class="" pInputText type="text" />
                </div>
            </div>
            <div class="field grid">
                <label class="col-fixed" style="width: 100px">Lastname</label>
                <div class="col">
                    <input class="" pInputText type="text" />
                </div>
            </div>
        </p-card>
        <p-card header="Horizontal">
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">Firstname</label>
                <div class="col-12 md:col-10">
                    <input class="w-full" pInputText type="text" />
                </div>
            </div>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">Lastname</label>
                <div class="col-12 md:col-10">
                    <input class="w-full" pInputText type="text" />
                </div>
            </div>
        </p-card>
        <p-card header="Inline">
            <div class="formgroup-inline">
                <div class="field">
                    <label class="p-sr-only">Firstname</label>
                    <input class="" pInputText placeholder="First Name" type="text" />
                </div>
                <div class="field">
                    <label class="p-sr-only">Lastname</label>
                    <input class="" pInputText placeholder="Last Name" type="text" />
                </div>
                <button label="Submit" pButton></button>
            </div>
        </p-card>
    </div>
    <div class="lg:col-6">
        <p-card header="Form Validation">
            <form [formGroup]="form" class="formgrid grid">
                <div class="field col-12 md:col-6">
                    <label>Firstname</label>
                    <input class="w-full ng-invalid ng-dirty" formControlName="firstname" pInputText type="text" />
                    <small class="text-red-500" *ngIf="form.get('firstname')?.hasError('required')">
                        Firstname is required
                    </small>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Lastname</label>
                    <input class="w-full ng-invalid ng-dirty" formControlName="lastname" pInputText type="text" />
                    <small class="text-red-500" *ngIf="form.get('firstname')?.hasError('required')">
                        Lastname is required
                    </small>
                </div>
                <div class="field col-12">
                    <label>Address</label>
                    <textarea
                        class="w-full ng-invalid ng-dirty"
                        formControlName="address"
                        pInputTextarea
                        rows="4"></textarea>
                    <small class="text-red-500" *ngIf="form.get('firstname')?.hasError('required')">
                        Address is required
                    </small>
                </div>
                <div class="field col-12 md:col-6">
                    <label>City</label>
                    <input class="w-full ng-invalid ng-dirty" formControlName="city" pInputText type="text" />
                    <small class="text-red-500" *ngIf="form.get('firstname')?.hasError('required')">
                        City is required
                    </small>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="flex flex-column">

                        <label>State</label>
                        <p-dropdown
                            [options]="['Arizona', 'California', 'Florida', 'Ohio', 'Washington']"
                            formControlName="state"
                            class="ng-invalid ng-dirty w-full" />
                    </div>
                    <small class="text-red-500" *ngIf="form.get('firstname')?.hasError('required')">
                        State is required
                    </small>
                </div>
                <div class="field col-12 md:col-3">
                    <label>Zipcode</label>
                    <input class="w-full ng-invalid ng-dirty" formControlName="zip" pInputText type="text" />
                    <small class="text-red-500 block" *ngIf="form.get('firstname')?.hasError('required')">
                        Zipcode is required
                    </small>
                </div>
                <div class="field mb-0 col-12 md:col-3">
                    <button pButton type="submit">Submit</button>
                </div>
            </form>
        </p-card>
        <p-card header="Advanced Form">
            <div class="formgrid grid">
                <div class="field col-12 md:col-6">
                    <label>Firstname</label>
                    <input class="w-full" pInputText type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label>Lastname</label>
                    <input class="w-full" pInputText type="text" />
                </div>
                <div class="field col-12">
                    <label>Address</label>
                    <textarea class="w-full" pInputTextarea rows="4"></textarea>
                </div>
                <div class="field col-12 md:col-6">
                    <label>City</label>
                    <input class="w-full" pInputText type="text" />
                </div>
                <div class="field col-12 md:col-3">
                    <label>State</label>
                    <p-dropdown
                        [options]="['Arizona', 'California', 'Florida', 'Ohio', 'Washington']"
                        styleClass="w-full" />
                </div>
                <div class="field col-12 md:col-3">
                    <label>Zip</label>
                    <input class="w-full" pInputText type="text" />
                </div>
            </div>
        </p-card>
    </div>
</div>
