<div class="grid">
    <div class="lg:col-6">
        <p-card header="Vertical">
            <div class="field">
                <label>Firstname</label>
                <input pInputText class="w-full border-1 border-solid surface-border" type="text" />
            </div>
            <div class="field">
                <label>Lastname</label>
                <input pInputText class="w-full border-1 border-solid surface-border" type="text" />
            </div>
        </p-card>

        <p-card header="Vertical and Grid">
            <div class="formgrid grid">
                <div class="field col">
                    <label>Firstname</label>
                    <input pInputText class="w-full border-1 border-solid surface-border" type="text" />
                </div>
                <div class="field col">
                    <label>Lastname</label>
                    <input pInputText class="w-full border-1 border-solid surface-border" type="text" />
                </div>
            </div>
        </p-card>
        <p-card header="Horizontal and Fixed Width">
            <div class="field grid">
                <label class="col-fixed" style="width: 100px">Firstname</label>
                <div class="col">
                    <input pInputText class="border-1 border-solid surface-border" type="text" />
                </div>
            </div>
            <div class="field grid">
                <label class="col-fixed" style="width: 100px">Lastname</label>
                <div class="col">
                    <input pInputText class="border-1 border-solid surface-border" type="text" />
                </div>
            </div>
        </p-card>
        <p-card header="Horizontal">
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">Firstname</label>
                <div class="col-12 md:col-10">
                    <input pInputText class="w-full border-1 border-solid surface-border" type="text" />
                </div>
            </div>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">Lastname</label>
                <div class="col-12 md:col-10">
                    <input pInputText class="w-full border-1 border-solid surface-border" type="text" />
                </div>
            </div>
        </p-card>
        <p-card header="Inline">
            <div class="formgroup-inline">
                <div class="field">
                    <label class="p-sr-only">Firstname</label>
                    <input
                        pInputText
                        class="border-1 border-solid surface-border"
                        type="text"
                        placeholder="First Name" />
                </div>
                <div class="field">
                    <label class="p-sr-only">Lastname</label>
                    <input
                        pInputText
                        class="border-1 border-solid surface-border"
                        type="text"
                        placeholder="Last Name" />
                </div>
                <button pButton label="Submit"></button>
            </div>
        </p-card>
    </div>
    <div class="lg:col-6">
        <p-card header="Form Validation">
            <div class="formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="firstname6">Firstname</label>
                    <input
                        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        id="firstname6"
                        type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="lastname6">Lastname</label>
                    <input
                        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        id="lastname6"
                        type="text" />
                </div>
                <div class="field col-12">
                    <label for="address">Address</label>
                    <textarea
                        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        id="address"
                        rows="4"
                        type="text"></textarea>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="city">City</label>
                    <input
                        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        id="city"
                        type="text" />
                </div>
                <div class="field col-12 md:col-3">
                    <label for="state">State</label>
                    <select
                        class="w-full text-base text-color surface-overlay border-1 border-solid surface-border border-round outline-none focus:border-primary"
                        id="state"
                        style="appearance: auto">
                        <option>Arizona</option>
                        <option>California</option>
                        <option>Florida</option>
                        <option>Ohio</option>
                        <option>Washington</option>
                    </select>
                </div>
                <div class="field col-12 md:col-3">
                    <label for="zip">Zip</label>
                    <input
                        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        id="zip"
                        type="text" />
                </div>
            </div>
        </p-card>
        <p-card header="Advanced Form">
            <div class="formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="firstname6">Firstname</label>
                    <input
                        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        id="firstname6"
                        type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="lastname6">Lastname</label>
                    <input
                        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        id="lastname6"
                        type="text" />
                </div>
                <div class="field col-12">
                    <label for="address">Address</label>
                    <textarea
                        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        id="address"
                        rows="4"
                        type="text"></textarea>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="city">City</label>
                    <input
                        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        id="city"
                        type="text" />
                </div>
                <div class="field col-12 md:col-3">
                    <label for="state">State</label>
                    <select
                        class="w-full text-base text-color surface-overlay border-1 border-solid surface-border border-round outline-none focus:border-primary"
                        id="state"
                        style="appearance: auto">
                        <option>Arizona</option>
                        <option>California</option>
                        <option>Florida</option>
                        <option>Ohio</option>
                        <option>Washington</option>
                    </select>
                </div>
                <div class="field col-12 md:col-3">
                    <label for="zip">Zip</label>
                    <input
                        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        id="zip"
                        type="text" />
                </div>
            </div>
        </p-card>
    </div>
</div>
