$cal-event-color-primary: #1e90ff !default;
$cal-event-color-secondary: #d1e8ff !default;
$cal-border-color: darken($background, 10%) !default;
$cal-bg-primary: darken($background, 5%) !default;
$cal-bg-secondary: darken($background, 5%) !default;
$cal-bg-active: #ededed !default;
$cal-today-bg: #e8fde7 !default;
$cal-weekend-color: #8b0000 !default;
$cal-badge-color: #b94a48 !default;
$cal-current-time-marker-color: #ea4334 !default;
$cal-white: #fff !default;
$cal-gray: #555 !default;
$cal-black: #000 !default;
