$cal-event-color-primary: #1e90ff !default;
$cal-event-color-secondary: #d1e8ff !default;
$cal-border-color: #374777 !default;
$cal-bg-primary: #232f51 !default;
$cal-bg-secondary: #232f51 !default;
$cal-bg-active: #232f51 !default;
$cal-today-bg: #3a5ab9 !default;
$cal-weekend-color: #8b0000 !default;
$cal-badge-color: #b94a48 !default;
$cal-current-time-marker-color: #ea4334 !default;
$cal-white: #fff !default;
$cal-gray: #555 !default;
$cal-black: #000 !default;
