:root {
    --font-size: 14px;
    --font-family: 'Open Sans', sans-serif;
    --header-font-family: MalebuHeavy, 'Inter', sans-serif;
    --sidebar-bg: #182039;
    --sidebar-hover-bg: #25304f;
    --border-radius: .5rem;
    --card-border-radius: 1.5rem;
    --sidebar-width: 80px;
    --background: #f7f5f4;
    --inline-spacing: 1rem;
    --active-color: #fa8b44;
    --font-color: #000000;
}

@import 'primeng/resources/themes/viva-light/theme.css';
@import 'primeng';
