:host {
    width: var(--sidebar-width);
    background: var(--sidebar-bg);
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    .pi {
        color: #fff;
        font-size: 20px;
        padding: 20px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: var(--sidebar-hover-bg);
        }
    }
}
