$font-size: 14px;
$font-family: 'Sora', sans-serif;
$sidebar-bg: #182039;
$sidebar-hover-bg: #25304f;
$border-radius: 0.5rem;
$card-border-radius: 1.5rem;
$sidebar-width: 80px;
$background: #f7f5f4;
$inline-spacing: 1rem;
$active-color: #fa8b44;
$font-color: #c4adad;

:root {
    --font-size: 14px;
    --font-family: 'Sora', sans-serif;
    --sidebar-bg: #182039;
    --sidebar-hover-bg: #25304f;
    --border-radius: 0.5rem;
    --card-border-radius: 1.5rem;
    --sidebar-width: 80px;
    --background: #f7f5f4;
    --inline-spacing: 1rem;
    --active-color: #fa8b44;
    --font-color: #c4adad;
}
