:host ::ng-deep {
    .p-button {
        border: none;
    }
    .p-button-facebook {
        background: #3b5998;
    }
    .p-button-google {
        background: #db4437;
    }
    .p-button-twitter {
        background: #1da1f2;
    }
}
