<div class="grid align-items-center">
    <div class="lg:col-4 md:col-12 sm:col-12">
        <h1 class="m-0 text-5xl font-light">Welcome, juliana!</h1>
        <p class="text-xl mt-1 mb-3">Here is your agenda for today</p>
    </div>
    <div class="lg:col-8 md:col-12 sm:col-12">
        <div class="grid">
            <div class="col">
                <span class="p-input-icon-right w-full">
                    <i class="pi pi-search mr-3"></i>
                    <input
                        class="w-full border-round-3xl border-1 bg-transparent py-3 px-4 search-input"
                        pInputText
                        placeholder="Search" />
                </span>
            </div>
            <div class="col-fixed">
                <div class="ml-4">
                    <p-avatar
                        [style]="{ height: '60px', width: '60px' }"
                        image="/assets/images/profile-pics/1.jpg"
                        shape="circle"
                        size="xlarge"
                        styleClass="mr-2" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid mb-2">
    <div class="lg:col-3 md:col-6 sm:col-12" *ngFor="let item of infoCardList">
        <info-card [data]="item" />
    </div>
</div>

<div class="grid">
    <div class="lg:col-4 md:col-6 sm:col-12">
        <p-calendar [inline]="true" [showOtherMonths]="false" [showWeek]="false" class="w-full"></p-calendar>
    </div>
    <div class="lg:col-4 md:col-12">
        <urgent-task />
    </div>
    <div class="lg:col-4 md:col-12">
        <expense-statistic />
    </div>
</div>

<div class="grid mt-1">
    <div class="lg:col-4 md:col-6 sm:col-12">
        <project-directory />
    </div>
    <div class="lg:col-4 md:col-6 sm:col-12">
        <new-comments />
        <p-card styleClass="p-0-card-content mt-4">
            <div class="grid -mb-2">
                <div class="lg:col-4 md:col-12 sm:col-12">
                    <div class="bg-purple-100 border-round-xl p-3">
                        <div class="grid grid-nogutter align-items-center">
                            <div class="col-12">
                                <span class="block text-purple-700 text-sm">#Research</span>
                            </div>
                            <div class="col">
                                <span class="text-sm text-purple-900 w-3rem block">Survey Design</span>
                            </div>
                            <div class="col-fixed">
                                <i class="pi pi-angle-right text-purple-900"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:col-4 md:col-12 sm:col-12">
                    <div class="bg-green-100 border-round-xl p-3">
                        <div class="grid grid-nogutter align-items-center">
                            <div class="col-12">
                                <span class="block text-green-700 text-sm">#Strategy</span>
                            </div>
                            <div class="col">
                                <span class="text-sm text-green-900 w-3rem block">SWOT Analysis</span>
                            </div>
                            <div class="col-fixed">
                                <i class="pi pi-angle-right text-green-900"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:col-4 md:col-12 sm:col-12">
                    <div class="bg-yellow-100 border-round-xl p-3">
                        <div class="grid grid-nogutter align-items-center">
                            <div class="col-12">
                                <span class="block text-yellow-700 text-sm">#Strategy</span>
                            </div>
                            <div class="col">
                                <span class="text-sm text-yellow-900 w-3rem block">Structural Design</span>
                            </div>
                            <div class="col-fixed">
                                <i class="pi pi-angle-right text-yellow-900"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
    <div class="lg:col-4 md:col-6 sm:col-12">
        <team-directory />
    </div>
</div>
