html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: var(--font-size);
    font-family: var(--font-family);
    background: var(--background);
}

[class*='col'] {
    padding: 1rem;
}
