html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: var(--font-size);
    font-family: var(--font-family);
    background: var(--background);
}

[class*='col'] {
    padding: 1rem;
}

//p-sm-* : min-width 576px
//p-md-* : min-width 768px
//p-lg-* : min-width 992px
//p-xl-* : min-width 1200p

@media screen and (max-width: 480px) {
    [class*='col'] {
        padding: .5rem;
    }
}
